rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /paymentScreenshots/{shopId}/{imageId} {
      allow read: if request.auth != null && (request.auth.uid == shopId || firestore.get(/databases/(default)/documents/users/$(request.auth.uid)).data.role == 'admin');
      allow create: if request.auth != null && request.auth.uid == shopId && request.resource.size < 5 * 1024 * 1024 && request.resource.contentType.matches('image/.*');
    }
    match /appSettings/{imageId} {
      allow read: if true;
      allow write: if request.auth != null && firestore.get(/databases/(default)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }
  }
}
